{% extends "layout.html" %}
{% block title %}Search{% endblock %}

{% block head %}
    {{ super() }}
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Libre+Baskerville&display=swap" rel="stylesheet">
    <style>
      .row   {
        font-family: 'Libre Baskerville', serif;

      }
    </style>
    <style type="text/css">

    </style>
{% endblock %}
su

{% block content %}
<div class="container">
        <h1> Carte Boissons</h1>
{#Carte;ordre;cat;subcat;description;prix#}
        {% set count = namespace(value=1) %}
        {% set vars = {'cat': 'Apéritifs'} %}
        <div class="row align-items-center rounded-3 bg-danger m-2">
            <div class="col-3"><img src="static/images/gallery/chicken-caesar-salad-6sq.jpg" width="90"></div>
            <div class="text-light col-9"><h1>{{ vars['cat'] }}</h1><p class=""></p></div>
        </div>
        <div class="row align-items-start m-1 p-1">
    {% for row in resultados %}
        {% if row['cat']|int == count.value %}
                    <div class="col-12 col-xs-6 col-lg-3 col-xl-2 bg-light text-dark rounded shadow m-1 p-1">
                        <div class="row align-items-start m-1 p-1">
                            <div class="col m-1 p-1 ">  {{ row['description'] }}</div>
                            <div class="col text-end"><span class="badge bg-secondary">{{ row['prix'] }}€</span></div>
                        </div>
                    </div>
        {% else  %}
        {% set count.value = count.value + 1 %}
        </div>
        <div class="row align-items-center rounded-3 bg-danger m-2">
            <div class="col-3"><img src="static/images/gallery/chicken-caesar-salad-6sq.jpg" width="90"></div>
            <div class="text-light col-9"><h1>{{ row['cat'] }}</h1><p class=""></p></div>
        </div>
        <div class="row align-items-start m-1 p-1">

         <div class="col-12 col-xs-6 col-lg-3 col-xl-2 bg-light text-dark rounded shadow m-1 p-1">
            <div class="row align-items-start m-1 p-1">

                    <div class="col-9 m-1 p-1 ">  {{ row['description'] }}</div>
                    <div class="col-3 text-end"><span class="badge  bg-secondary">{{ row['prix'] }}€</span></div>

            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>

{% endblock %}
